<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Private Wall | Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/bootstrap.css') }}">
</head>
<body>
    <div class="container">
        <div class="row p-3">
            <!-- registration column -->
            <div class="col">

                <h2 class="text-center">Registration</h2>

                <form action="/register" method="post">
                    <!-- first name -->
                    {% with warnings = get_flashed_messages(category_filter=["name"]) %}
                    {% if warnings %}
                    {% for warning in warnings %}
                    <p class="text-danger">{{ warning }}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <div class="row my-5">
                        <label for="first_name" class="col-sm-2 col-form-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="first_name" name="first_name">
                        </div>
                    </div>
                    <!-- last name -->
                    <div class="row my-5">
                        <label for="last_name" class="col-sm-2 col-form-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="last_name" name="last_name">
                        </div>
                    </div>
                    <!-- email -->
                    {% with warnings = get_flashed_messages(category_filter=["email"]) %}
                    {% if warnings %}
                    {% for warning in warnings %}
                    <p class="text-danger">{{ warning }}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <div class="row my-5">
                        <label for="email" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                    </div>
                    <!-- password -->
                    {% with warnings = get_flashed_messages(category_filter=["password"]) %}
                    {% if warnings %}
                    {% for warning in warnings %}
                    <p class="text-danger">{{ warning }}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <div class="row my-5">
                        <label for="password" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                    </div>
                    <!-- confirm password -->
                    <div class="row my-5">
                        <label for="confirm_password" class="col-sm-2 col-form-label">Confirm Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="confirm_password" name="confirm_password">
                        </div>
                    </div>
                    <input type="submit" value="Register" class="btn btn-success float-end">
                </form>

            </div>
            <!-- login column -->
            <div class="col">
                <h2 class="text-center">Login</h2>

                <form action="/login" method="post">
                    {% with warnings = get_flashed_messages(category_filter=["email-password"]) %}
                    {% if warnings %}
                    {% for warning in warnings %}
                    <p class="text-danger">{{ warning }}</p>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
                    <!-- email -->
                    <div class="row my-5">
                        <label for="email_login" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email_login" name="email_login">
                        </div>
                    </div>
                    <!-- password -->
                    <div class="row my-5">
                        <label for="password_login" class="col-sm-2 col-form-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password_login" name="password_login">
                        </div>
                    </div>
                    <input type="submit" value="Login" class="btn btn-primary float-end">
                </form>

            </div>
        </div>
    </div>
</body>
</html>